@import url(//fonts.googleapis.com/css?family=Coda:400,800);

* { box-sizing: border-box; }

body {
    font-family: 'Coda', cursive;
    font-weight: 400;
    background-color: #000;
}

p { color: #ffcc33; }

h1 {
    font-weight: 800;
    color: #ffcc33;
}

#apinput {
    color: #339999;
}

table {
    color: #ffffff;
    border: 0px;
    margin-top: 20px;
    width: 300px;
}

.header {
    font-weight: 400;
    text-align: left;
    color: #ffcc33;
    background: -webkit-gradient(linear, left top, right bottom, from(#996633), to(#332211));
}

.action {
    color: #339999;
    width: 200px;
}

.count {
    color: #ffcc33;
    text-align: right;
}

input#ap {
    border: solid 1px #339999;
    background: #000000;
    color: #ffffff;
    height: 20px;
    margin-right: 0px;
}

input#checkBtn {
    border: solid 1px #ffcc33;
    background: #556b2f;
    color: #ffcc33;
    height: 20px;
    margin-left: 0px;
}
